body{
  background-color: red
  color:white;
}
.table, tr, td{
  border: 2px solid black;
  padding: 15px;
}
input{
  border: 2px solid black;
  padding: 10px;
}
h2{
  text-align: center;
}

ul>li {
  padding: 5px;
  direction: none;
}
